# =========================
# codeblocks
# =========================
*.layout
*.depend
bin/
obj/

# =========================
# doxygen
# =========================
doxygen/

# =========================
# CCCC
# =========================
.cccc/

# =========================
# CppCheck
# =========================
CppCheckResults.xml
*.cppcheck

# =========================
# Others
# =========================
temp/
