# =========================
*.swp
*.o
*.exe
CMakeSettings.json
build/
temp/

cmake-vs/
out/
.vs/
.vscode/

*~

material/

*.orig
tags

#Codeblocks
*.bmarks
*.cbp
*.depend
*.layout
bin/
obj/

#Eclipse
Debug/
Release/
.settings/
*.project
*.cproject

#Clion
cmake-build-debug/
cmake-build-default/
.idea/
